{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Password Reset Complete{% endblock title %}

{% block content %}

    <h2 class="text-center text-uppercase text-success">Password Reset Complete</h2>
    <h4 class="text-center text-warning">Parolingiz yangilandi!</h4>

    <p class="px-4 mb-0">
        Saytga yangi parol bilan kirishingiz mumkin!
    </p>

    <div class="d-flex justify-content-center mt-2">
        <a class="btn btn-outline-primary fs-5" href="{% url 'login' %}">Login</a>
    </div>

{% endblock content %}