{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Password Change Done{% endblock title %}

{% block content %}

    <h2 class="text-center text-uppercase text-success">Parol O'zgartirildi</h2>
    <p class="text-center p-4 m-0">Siz yangi parol bilan saytga kirishingiz mumkin.</p>
    <div class="d-flex justify-content-center">
        <a class="btn btn-outline-primary fs-5" href="{% url 'login' %}">Login</a>
    </div>

{% endblock content %}
