body {
    height: 100vh;
    padding-top: 6.5rem;
    display:flex;
    flex-direction:column;
    margin:0;
}

.image_height {
    height: 250px;
}

.hidden{
	display: none!important;
}

.none {
    display: none;
}

.show {
    display: flex;
}


footer{
  margin-top:auto;
}